{% extends "quiz/base.html" %}

{% block content %}
<h1 class="title">
    {{quiz.test_event.test.name}}
</h1>
<h2 class="subtitle">
    {{quiz.test_event.name}}
</h2>

{% if start %}
<button class='button is-primary has-text-white'> <a href="/quiz/{{ quiz.test_event.id }}/0">START</a> </button>
{% else %}
<button class='button is-primary has-text-white' disabled> START </button>
{% endif %}
{% if taken %}
<button class='button has-text-black'> <a href="/quiz/{{ quiz.test_event.id }}/summary">Summary</a> </button>

{% else %}
<button class='button has-text-black' disabled> Summary </button>

{% endif %}
</ul>
{% endblock %}