{% extends 'quiz/base.html' %}

{% block head %}
<title>SIMPLE QUIZ - Pytanie {{question_nb}}</title>

{% endblock %}

{% block content %}
<div class='hero-body is-centered has-text-centered'>

<div class="content">


    <form method="POST" action="">
        {% csrf_token %}
        <div class = "tresc">
        {% for i in range %}
        {% if i == question_nb %}
        <button type="submit" class="button is-primary" name='click' value={{i}}>Pytanie {{i|add:1}}</button>
        {% else %}
        <button type="submit" class="button" name='click' value={{i}}>Pytanie {{i|add:1}}</button>
        {% endif %}
        {% endfor %}
    <h1>Pytanie {{question_nb|add:1}} na {{quiz_len}}</h1>

    <br>
    <div class = "tresc">
        <p1>{{question.question}}</p1>
    </div>
    {% if question.img_link %}
    <img src="{{question.img_link}}" /> <br>
    {% comment %} <img src="{{ url_for('static', filename='pic/' + pytanie["obrazek"])}}" class="rounded-1" alt="Tu podaj tekst alternatywny">         {% endcomment %}
    {% endif %}

        {% for choice in choices %}
        {% if choice.id in user_picks %}
        <input type="{{question.q_type}}" class="form-check-input" id="odpowiedz{{forloop.counter0|add:1}}" name="ans" value="{{choice.id}}" checked>
        {% else %}
        <input type="{{question.q_type}}" class="form-check-input" id="odpowiedz{{forloop.counter0|add:1}}" name="ans" value="{{choice.id}}">
        {% endif %}
        <label for="odpowiedz{{forloop.counter0|add:1}}" class="form-check-label">{{choice}}</label><br>
        {% endfor %}
        </div>
        {% if question_nb != 0 %}
        <button type="submit" class="button" name='click' value={{question_nb|add:-1}}>Back</button>
        {% else %}
        <button type="submit" class="button" disabled>Back</button>
        {% endif %}
        {% if quiz_len == question_nb|add:1 %}
        <button type='button' class="js-modal-trigger button is-danger" data-target="modal-js-send"> Send!</button>
        {% else %}
        <button type="submit" class="button" name='click' value={{question_nb|add:1}}>Next</button>
        {% endif %}

    </div>
    <div id="modal-js-send" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <h1>Are you sure?</h1>
            <!-- Your content -->
            <div class="modal-close-button">
                <button type="submit" class="button is-success" name='DONE'>Send</button>
                <button  type="button" aria-label="close" class="button" >Cancel</button>
              </div>
        </div>
        <button class="modal-close is-large" aria-label="close">Cancel</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}
