{% extends "quiz/base.html" %}

{% block content %}
<div class="columns is-mobile is-centered">

<div class="column is-half has-text-centered">
    <h1 class="title is-primary">
        <p>Your assignment:</p>
    </h1> 
</div>  
</div>  

            
<div class="columns is-mobile is-centered">

<div class="column is-half ">

<table class="table is-fullwidth ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Open date</th>
            <th>Close date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in incoming_quiz_event %}
        <tr>
        <td> <a href="/quiz/{{ quiz.test_event.id }}/">{{quiz.test_event.test.name}} - {{quiz.test_event.name}}</a></td>
            <td>{{quiz.test_event.start_date|date:"H:i,  d.m.y"}}</td>
                <td>{{quiz.test_event.end_date|date:"H:i,  d.m.y"}}</td>
                {% if  quiz.if_open %}
                <td><button class="button is-primary is-fullwidth"> <a class='has-text-white' href="/quiz/{{ quiz.test_event.id }}/"> Description </a> </button></td>
                {% else %}
                <td><button class="button is-fullwidth"> <a class='has-text-black' href="/quiz/{{ quiz.test_event.id }}/"> Description </a> </button></td>
    
                {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>
</div>  
</div> 

<div class="columns is-mobile is-centered">

    <div class="column is-half has-text-centered">
        <h1 class="title is-primary">
            <p>Old assignment:</p>
        </h1> 
    </div>  
    </div>  
    
                
    <div class="columns is-mobile is-centered">
    
    <div class="column is-half ">
    
    <table class="table is-fullwidth ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Open date</th>
                <th>Close date</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in old_quiz_event %}
            {% comment %} {% if not quiz.taken %}{% endif %} {% endcomment %}
            <tr>
            <td> <a href="/quiz/{{ quiz.test_event.id }}/">{{quiz.test_event.test.name}} - {{quiz.test_event.name}}</a></td>
                <td>{{quiz.test_event.start_date|date:"H:i,  d.m.y" }}</td>
                    <td>{{quiz.test_event.end_date|date:"H:i,  d.m.y"}}</td>
                    {% if  quiz.taken%}
                    <td > {{quiz.score}} / {{quiz.max_score}} </td>
                    {% else %}
                    <td> ❌ </td>
                    {% endif %}
                    <td><button class="button is-fullwidth is-small"> <a class='has-text-black' href="/quiz/{{ quiz.test_event.id }}/"> Description </a> </button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>  
    </div> 

{% endblock %}