{% extends 'quiz/base.html' %}

{% block head %}
<title>SIMPLE QUIZ - Summary</title>
{% comment %} <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
<script src="{{ url_for('static', filename='js/postquestion.js') }}"></script> {% endcomment %}
{% endblock %}

{% block content %}

<div class="content">

{{test_event.test.name}} - {{test_event.name}}

<div class="content">
{% regroup all_choices by question as question_list %}
<ol type="I">
    {% for question in question_list %}
       <li>{{ question.grouper}}
       <ol type="1">
        {% for item in question.list %}
        {% if item.id in all_user_pick and item.if_correct %}
        <li class = 'has-text-success'>{{ item.choice_text}}</li>
        {% elif item.id in all_user_pick and not item.if_correct %}
        <li class = 'has-text-danger' >{{ item.choice_text}}</li>
        {% elif item.if_correct %}
        <li class = 'has-text-warning' >{{ item.choice_text}}</li>
        {% else %}
        <li class = 'has-text-black' >{{ item.choice_text}}</li>
        {% endif %}  
        {% endfor %}
        {% if test_event.end_date <= question.list.0.ans_time %}
        ZA PÓŹNO
        {% endif %}
    </ol>
    </li>
    {% endfor %}
    {{quiz.score}}
</ol>
</div>
{% comment %} {% for q in questions %}
<br>
{{q}}
{% for q in q %}

{% endfor %}
{% endfor %} {% endcomment %}
</div>
{% endblock %}
